.bg-morado {
    background-color: #69217f;
}
.bg-morado-oscuro {
    background-color: #443462;
}

.bg-blue {
    background-color: #2a77d2;
}

.bg-pink {
    background-color: #e35df0;
}

.bg-orange {
    background-color: #f8aa1a;
}

.bg-desenfoque {
    background-color: rgba(255, 255, 255, 0.5) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
}

.gradiente-blanco {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.8),
        rgba(240, 240, 240, 0.5)
    );
    backdrop-filter: blur(10px);
}

.gradiente-morado {
    background: linear-gradient(
        180deg,
        rgba(102, 51, 153, 1) 0%,
        rgba(75, 46, 131, 1) 100%
    );
}

.gradiente-azul-morado {
    /* Versión con rgba para mayor control de opacidad si se necesita */
    background: linear-gradient(
        180deg,
        rgba(75, 46, 131, 1) 0%,
        rgba(30, 58, 138, 1) 100%
    );
}

.gradiente-blue {
    background: #1e3c72;
    /* Fallback color */
    background: linear-gradient(to right, #1e3c72, #2a5298, #122f4d);
}

.gradiente-pink {
    background: #833ab4;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

.gradiente-orange {
    background: #ff006e;
    /* Fallback color */
    background: linear-gradient(to right, #ff006e, #d100d1, #ff5a5f);
}

.text-morado {
    color: #6e217f !important;
}

.text-blue {
    // color: #2a77d2;
    color: rgba(30, 58, 138, 1);
}

.text-pink {
    color: #e35df0;
}

.text-white {
    color: #fff !important;
}

.text-thin {
    font-weight: 200;
}

.d-inline-block {
    display: inline-block !important;
}

.gradient-border-clip {
    background: linear-gradient(to right, #443462, #69217f, #aa22ff);
    border-radius: 15px; /* Radio del borde */
    padding: 10px;
    color: white; /* Texto para contraste */
    text-align: center;

    /* Truco para mostrar el gradiente solo en el borde */
    background-clip: padding-box;
    -webkit-background-clip: text;
}

.text-justify {
    text-align: justify;
}

.no-wrap {
    white-space: nowrap;
}

.custom-shadow5 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bg-primary-app {
    background-color: #003dff !important;
}
